<h1>Projects</h1>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.address, client_project_path(project.client, project) %></li>
  <% end %>
</ul>
<hr>
<%= link_to "Select a client to create a new project", clients_path %>
