<h1>Projects</h1>
  <% @projects.each do |project| %>
  <%= link_to client_project_path(project.client, project) do %>
  <div class="project">
    <p><%= "Project "+project.address %></p>
  </div>

  <% end %>

  <% end %>


<hr>
<%= link_to "Select a client to create a new project", clients_path %>
