/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Noto+Sans:400,400i,700,700i');

 $light-base: #ffbfd4;
 $dark-base: #5b677c;
 $JMSEblue: #2830be;
 $border-style: 2px solid $dark-base;

body {
  // background-image: url("background.jpg");
  background-color: white;
  color: $dark-base;
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  a {
    color: $JMSEblue;
  }
}

.jumbotron {
  background-color: $dark-base;
  color: white;
  border-radius: 0;
}

.container {
  margin-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', Courier, serif;
}

h1, h2 {
  text-align: center;
}

a {
  color: $dark-base;
  transition: font-size-adjust .2s cubic-bezier(.26,.9,.46,1);
  transition: color .2s ease;
  &:hover {
    color: lighten($JMSEblue, 15%);
    text-decoration: none;
    font-size-adjust: .5;
  }
}

#nav a:hover {
  color: darken($JMSEblue, 15%);
}
table {
  margin: 2em 0 2em 0;
}

tr {
  display: block;
  width: 500px;
}

td {
  border-bottom: $border-style;
}
.td-head {
  width: 500px;
}
.td-wide {
  width: 400px;
}
.td-narrow {
  width: 100px;
}

.notice {
  padding: 1em;
}

#search, #submit {
  padding: 5px;
  border-radius: 10px;
}

#signature {
  font-family: Brush Script MT;
  font-size: 30pt;
}

#nav {
  margin-top: 20px;
  margin-bottom: -30px;
}

#footer {
  float: right;
}

.field-group {
  text-align: center;
  label {
    vertical-align: top;
    width: 20%;
  }
  input, textarea {
    width: 50%;
  }

}
