// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.project {
  background-color: white;
  border-radius: 10px;
  border: 4px solid black;
  width: 25%;
  padding: 5%;
  display: inline-block;
  text-align: center;
  &:hover {
    background: linear-gradient(45deg, black, white);
  }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
